<h2>Historique des commandes</h2>

<div *ngIf="orders.length > 0; else noOrders">
  <table class="w-full table-auto border-collapse border border-gray-400">
    <thead>
      <tr>
        <th class="border p-2">N° de commande</th>
        <th class="border p-2">Date</th>
        <th class="border p-2">Total</th>
        <th class="border p-2">Statut</th>
        <th class="border p-2">Actions</th> <!-- Colonne pour les actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="border p-2">{{ order.id }}</td>
        <td class="border p-2">{{ order.orderDate }}</td>
        <td class="border p-2">{{ calculateOrderTotal(order) }} €</td>
        <td class="border p-2">{{ order.status }}</td>
        <td class="border p-2">
          <!-- Bouton pour dérouler ou masquer les détails -->
          <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="toggleOrderDetails(order.id)">
            {{ isOrderSelected(order.id) ? 'Masquer Détails' : 'Voir Détails' }}
          </button>

          <!-- Bouton pour annuler la commande si le statut est 'PENDING' -->
          <button *ngIf="order.status === 'PENDING'" class="bg-red-500 text-white px-4 py-2 rounded ml-2" (click)="cancelOrder(order.id)">
            Annuler la commande
          </button>
        
    

      <!-- Détails de la commande affichés sous forme de liste -->
      <tr *ngIf="isOrderSelected(order.id)">
        <td colspan="5" class="border p-4 bg-gray-50">
          <h3 class="text-sm font-semibold">Détails de la commande n°{{ order.id }}</h3>
          <ul class="text-sm space-y-2">
            <li *ngFor="let item of order.orderItems" class="flex items-center justify-between">
              <!-- Image de l'article -->
              <div class="flex items-center space-x-4">
                <img [src]="'http://localhost:8090' + item.menuItem.imageUrl" alt="Image de {{ item.menuItem.name }}" class="h-12 w-12 object-cover">
                <div>
                  <p>{{ item.menuItem.name }} <span class="text-gray-500">x{{ item.quantity }}</span></p>
                  <p class="text-gray-500 text-xs">{{ item.menuItem.description }}</p>
                </div>
              </div>
              <div class="text-right">
                <p>{{ item.price }} €</p>
                <p class="font-semibold">{{ item.quantity * item.price }} €</p>
              </div>
            </li>
          </ul>
          <p class="text-right font-semibold mt-4">Total de la commande : {{ calculateOrderTotal(order) }} €</p>
        </td>
      </tr>
    </tr>
    <button (click)="ReturnMenu()" class="btn btn-profile">Retourner sur la page d'accueil</button>
    </tbody>
  </table>
</div>

<ng-template #noOrders>
  <p>Aucune commande trouvée.</p>
</ng-template>
