<div class="container mx-auto p-4 bg-white shadow rounded-lg">
    <h2 class="text-2xl font-semibold mb-4">Gestion des Commandes</h2>
  
    <div class="mt-6 overflow-x-auto">
      <!-- Parcourir les commandes -->
      <div *ngFor="let order of orders" class="mb-8">
        <!-- Détails de la commande -->
        <div class="bg-gray-100 p-4 rounded-lg flex justify-between">
          <div>
            <h3 class="text-xl font-bold">Commande {{ order.id }} - {{ order.orderDate |  date: 'd MMMM yyyy HH:mm'  }}</h3>
            <p class="text-sm text-gray-600">
                Statut: <span class="font-semibold">{{ order.status }}</span>
            </p>
          
          </div>
          <div>
            <!-- Afficher le total de la commande -->
            <p class="text-xl font-semibold">Total: {{ calculateOrderTotal(order) | currency }}</p>
          </div>
        </div>
  
        <!-- Tableau des OrderItems pour cette commande -->
        <table class="min-w-full bg-white border rounded-lg mt-4">
          <thead>
            <tr>
              <th class="px-4 py-2 border">ID</th>
              <th class="px-4 py-2 border">Nom de l'article</th>
              <th class="px-4 py-2 border">Quantité</th>
              <th class="px-4 py-2 border">Prix Unitaire</th>
              <th class="px-4 py-2 border">Total</th>
            </tr>
          </thead>
          <tbody>
            <!-- Parcourir les OrderItems pour cette commande -->
            <tr *ngFor="let item of order.orderItems">
              <td class="px-4 py-2 border">{{ item.id }}</td>
              <td class="px-4 py-2 border">{{ item.menuItem.name }}</td>
              <td class="px-4 py-2 border">{{ item.quantity }}</td>
              <td class="px-4 py-2 border">{{ item.price | currency }}</td>
              <td class="px-4 py-2 border">{{ item.quantity * item.price | currency }}</td>
            </tr>
          </tbody>
        </table>
  
        <!-- Actions pour modifier ou supprimer la commande -->
        <div class="mt-4">
          <button (click)="openOrderModal(order)" class="text-blue-600 hover:text-blue-800">Modifier le statut</button>
          <button (click)="deleteOrder(order.id)" class="text-red-600 hover:text-red-800 ml-4">Supprimer la commande</button>
        </div>
      </div>
    </div>
  
    <!-- Modal pour modifier le statut de la commande -->
    <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
      <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-2xl font-semibold mb-4">Modifier le Statut de la Commande</h1>
        <form [formGroup]="orderForm" (ngSubmit)="onSubmitOrder()">
          <select formControlName="status" class="w-full p-2 mb-4 border border-gray-300 rounded-lg">
            <option value="PENDING">PENDING</option>
            <option value="PREPARED">PREPARED</option>
            <option value="DELIVERED">DELIVERED</option>
            <option value="CANCELLED">CANCELLED</option>
            <option value="COMPLETED">COMPLETED</option>
          </select>
  
          <div class="flex justify-end space-x-2">
            <button type="button" class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg" (click)="closeOrderModal()">Annuler</button>
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Mettre à jour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  